html, body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevents scrollbars */
    background-color: #1a1a1a;
}

@font-face {
    font-family: 'Tiny5';
    src: url('Tiny5-Regular.woff') format('woff');
}
