/* Host styles */
:host {
	@apply contents;
	font-family: Tiny5, serif;
}

/* Fixed backdrop */
.fixed {
	@apply overflow-hidden;
}

/* Menu button styles */
.btn-menu {
	@apply text-left px-2 py-1 text-gray-100 bg-gray-700 hover:bg-gray-700/50 transition-colors mb-2 rounded-none;
	font-family: Tiny5, serif;
}

/* Server item styles */
.server-item {
	@apply p-2 bg-gray-700/50 text-gray-200 mb-2;
}

/* Setting item styles */
.setting-item {
	@apply flex justify-between items-center mb-4 text-gray-200;
	font-family: Tiny5, serif;
}

.join-btn {
	@apply px-2 py-1 text-gray-100 bg-gray-700 hover:bg-gray-700/50 transition-colors rounded;
}

/* Input styles */
input[type='text'], select, input[type='color'] {
	@apply bg-gray-800 text-white px-2 py-1 rounded;
}

/* Checkbox styles */
input[type='checkbox'] {
	@apply w-4 h-4 accent-cyan-500;
}

.align-middle-img {
	vertical-align: middle;
}
